* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Poppins", sans-serif;
}

.nav {
    height: 10vh;
    background-color: pink;
    position:sticky;
}
header {
    position: sticky;
    top: 0;
}

.boxes {
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75vh;
    background-color: rgb(77, 76, 76);
    text-align: center;
}
.boxes2 {
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75vh;
    background-color: rgb(77, 76, 76);
    text-align: center;
}
ul li{
    font-size: 20px;
    display: inline-block;
    margin: 15px 15px 15px 40px;
    padding: 10px;
}
ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover{
    color: white;
    cursor: pointer;
    background-color: lightcoral;
    border-radius: 5px;
    padding: 5px 0;
}

.boxes2 .box1 {
    display: inline-block;
    height: 90%;
    width: 15%;
    background-color: rgb(5, 5, 155);
}

.boxes2 .box2 {
    display: inline-block;
    height: 90%;
    width: 65%;
    background-color: rgb(82, 22, 138);
}

.boxes2 .box3 {
    display: inline-block;
    height: 90%;
    width: 15%;
    background-color: rgb(7, 95, 82);
}

.foot {
    display: flex;
    height: 10vh;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}
.bot {
    height: 52px;
    width: 52px;
    background: #f8931d;
    position: fixed;
    bottom: 32px;
    right: 43px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bot img{
    width: 32px; 
}
.bot:hover{
    width: 62px; 
    height: 62px; 
    border-radius: 60px;
    cursor: pointer;
}
